body {
   height: 100vh;
    background-color: grey; 
    background-image: linear-gradient(grey, black);
}
img {
    width:auto; 
    height:200px;
    border-radius:50%; 
    position: relative; 
    left: 50%; top: 25%;
    transform: translate(-50%, -50%);
    transition: transform .3s ease
}
img:hover {
    transform: translate(-50%, -50%) scale(1.05)
}
div {
    position: absolute;
    top: 45%;
    left: 30%;
    width: 43vw;
    height: 33vh; 
    text-align:center;
    transition: transform .3s ease;
}
p {
    color:white;
    text-align:center;
    font-size: 1.3em;
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
    transition: transform .3s ease
}
p:hover {
    transform: scale(1.05);
    z-index: 10;
}